.logo
{
    
    float: left;
    width: 13%;
    height: 150px;
    margin:25px 0 0 190px;

}

.bannerYazi{
    
    float:left;
    width: 60%;
    height: 120px;
    margin:30px 0 0 -30px;
    text-align: center;  
    font-size:100px;
    font-weight:3px;
    font-family:fantasy;
    letter-spacing: 10px;
    color: rgb(78, 80, 80);
}

nav
{
    
    width: 100%;
    padding: 0 0 0 200px;
    height: 80px;
    font:500 32px fantasy;
}

nav li{
    padding: 0 50px 0 0px;
}

  main
  {
    width: 100%;
    height: 1530px;
    background: rgb(85, 172, 172);
    border: 1px solid rgb(85, 172, 172);
  }

  section
  {
    width: 60%;
    height: 1400px;
    margin:120px auto 0 auto; 
    background: rgb(12, 2, 49);
    padding: 40px 40px 0 40px;
    text-indent: 0px;
    font:500 16px tahoma;
    border-radius: 30px;
  }

  .lbl
  {
    font:  400 25px fantasy;
    margin:0px 0 5px 0;
    color:rgb(115, 158, 34);

  }
  
  #lblOzel
  {
    margin:0px 0 0px 0;
  }

  #boxLbl
  {
    color:rgb(115, 158, 34);
  }

  .uyari{
    color:red;
  }

  .uyariButon
  {
    font:  600 16px tahoma;
    color:rgb(221, 107, 150);
  }

  footer
  {
      width: 100%;
      height: 135px;
      background: rgb(155, 110, 105);
     
      
  }

  .footerDiv
  {
      position: relative;
      top: 55px;
      left:550px;
      font:600 18px tahoma;
      color:rgb(17, 32, 119)
  }

  .f1
  {
    position: relative;
    top: -15px;
    left:1050px;
  }

  .f1:hover{
      opacity: 0.6;
  }

  .fc1
  {
   font: 300 18px fantasy;
    position: relative;
    top: -58px;
    left:1095px;
    letter-spacing: 1px;
  }

  .f2
  {
    position: relative;
    top: -40px;
    left:1050px;
  }

  .f2:hover{
      opacity: 0.6;
  }

  .fc2
  {
   font: 300 18px fantasy;
    position: relative;
    top: -82px;
    left:1095px;
    letter-spacing: 1px;
  }


  .f3
  {
    position: relative;
    top: -67px;
    left:1050px;
  }

  .f3:hover{
      opacity: 0.6;
  }

  .fc3
  {
   font: 300 18px fantasy;
    position: relative;
    top: -109px;
    left:1095px;
    letter-spacing: 1px;
  }
  